{% extends "quoteapp/base.html" %}

{% block content %}

<div>
    <h2>Sign Up</h2>
</div>

<form method="post" action="{% url 'users:signup' %}">
    {% csrf_token %}
    <div class="row">
        <div class="form-group col-xs-3">
            <label for="username">Username:</label>
            {{ form.username }}
            <span>{{ form.errors.username }}</span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-3">
            <label for="email">Email:</label><br>
            {{ form.email }}
            <span>{{ form.errors.email }}</span>
        </div>
    </div>


    <div class="row">
        <div class="form-group col-xs-3">
            <label for="username">Password:</label>
            {{ form.password1 }}
            <span>{{ form.errors.password1 }}</span>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-xs-3">
            <label for="username">Password confirmation:</label>
            {{ form.password2 }}
            <span>{{ form.errors.password2 }}</span>
        </div>
    </div>
    
    <input type="submit"  value="Sing up" class="btn btn-primary" />
</form>

{% endblock %}

